/* Reset */
* {
  margin: 0;
  padding: 0;
}

html {
    margin: 0;
    padding: 0;
}
body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  backgroundColor:  #F9F9FB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
